:host {
  .header {
    display: flex;
    align-items: center;
    margin-left: 10px;
    > .header-title {
      margin: 10px;
    }
  }
  .mat-slider-horizontal {
    width: 90%;
  }
  .slider-wrapper {
    display: flex;
    justify-content: center;
  }
}
